body {
  color: #292929;
  font: 1em/1.7 'Open sans', sans-serif;
}

/* type styles */
blockquote {
  font: italic 1.1em/2 'Playfair Display', serif;
  margin: 0 0 2em 0;
}

/* cta */
.cta {
  padding: 100px 0 100px 20%;
}

.cta h1 {    
  font: bold 6em/1 'Playfair Display', serif;
  margin: 0 0 20px 0;
  position: relative;
}

/* button styles*/
.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #292929;
  padding: .8em 1.5em;
}

.button:hover {
  background: black;
}

/*
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg
*/

/* strapline + blockquote */


/* heading */



/* grid layout */
.grid1{
  display: grid;
  grid-template-columns:94fr 188fr 30fr 159fr 314fr 62fr;
  grid-template-rows:40px auto 8px auto 30px
}
.img1{
  grid-column: 1/ span 2;
  grid-row: 2/ span 3;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg');
}
.img2{
  grid-column: 2/ span 2;
  grid-row: 3/ span 3;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg');
}
.img3{
  grid-column: -3/ -1;
  grid-row: 4/ span 2;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg');
}
.strapline{
  grid-column: 3/ span 3;
  grid-row: 2;
  text-align: center;
  padding: 0 15%;
  position: relative;
}
.strapline::before{
  content: '';
  width: 20%;
  height: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1rem;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg') repeat-x 0 0 /cover;
}
.cta{
  grid-column: 4/ -1;
  grid-row: 4 / span 2;
}
.cta h1:after{
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  right: calc(100% + 10px);
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg') repeat 0 0/cover;
}