@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root{
  --base-unit:27px;
  --light-gray:#EBEBEB;
  --primary:#9AC75B;
  --text-color:#2C2C2C;
  --light-text:#A8A8A8;
  --banner-bg:#2D3E4F;
  --banner-text-color:#3A99D8;
  --font:'Open Sans', sans-serif;
}

/*  layout  */
.container{
  width: 1272px;
  margin:0 auto;
}
/*  typography  */
body{
  font-family: var(--font);
  color: var(--text-color, #2C2C2C);
}

header{
  padding:  var(--base-unit) 0;
}
header h1 a{
  background: url(../images/logo@2x.png);
  display: block;
  width: 161px;
  height: 54px;
  text-indent: -9999em;
}