body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 0;
}
.card-container:hover .card{
  transform: rotateY(180deg);
}
.card-container {
  position:relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin:100px;
  perspective: 200px;   
}
.card {
  height: 100%;
  width: 100%;  
  position: absolute;
  transition: ;
  transform-style: preserve-3d;/* 카드 자체돔 */
}
.side{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;/* 부모만 돌림 같이안돔 */
}
.back{
  background: #eaeaed;
  color: #0007cc;
  text-align: center;
  line-height: 150px;
  transform: rotateY(180deg);
}